body {
    font-family: Arial;
    font-size: 12;
    background-color: rgb(80, 112, 177);
}

table, th, td {
    border: 5px #fff;
    color: white;
    border-color: whitesmoke;
    table-layout: auto;
    width: auto;
    border-style: groove;

}

h1 {
    color: goldenrod;
    text-align: center;
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    font-weight: bolder;
}

h2 {
    color: white;
    text-align: left;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    text-align: justify;
}

h3 {
     color: bisque;
     text-align: center;
     text-decoration: underline;
     text-transform: initial;
     text-align: justify;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: white;

}

a {
A:link {text-decoration:dotted}
A:visited {text-decoration:underline }
A:active {text-decoration:blue }
A:hover {text-decoration: underline; color: red;}
}

ol {
    color: gold;
}